<h1>Your Lists</h1>

<% if @lists.any? %>
  <ul id="lists">
    <% @lists.each do |list| %>
      <li>
        <%= link_to list.name, list_path(list) %>
        <br>
        <small>Created on: <%= list.created_at.strftime('%B %d, %Y') %></small>
        <%= button_to 'Delete', list_path(list), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this list?' } %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>You still haven't created a list. <%= link_to 'Click here to create a new one! :)', new_list_path(current_user), class: 'btn btn-primary' %></p>
<% end %>
