<div id="profile">
  <div class="profile-picture">
    <% if @user.user_photo.attached? %>
      <%= image_tag @user.user_photo, size: "150x150" %>
    <% else %>
      <%= image_tag 'placeholder_user_photo.png', size: "150x150" %> <!-- Placeholder image -->
    <% end %>
  </div>
  <!-- Other profile fields here -->
</div>
