<div class="user-photo">
  <% if user_photo_url.present? %>
    <%= image_tag user_photo_url, size: "150x150" %>
  <% else %>
    <%= image_tag 'default-avatar.jpg', size: "150x150" %> <!-- Placeholder image -->
  <% end %>
</div>
