.change-password-card {
  max-width: 400px;
  width: 100%;
  min-height: 450px;
  border: none;
  border-radius: 16px;
  background-color: rgb(249, 249, 249);
}

.change-pw-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 40px;
}

.change-pw-text {
  font-size: 16px;
  margin-bottom: 40px;
  font-style: italic;
}

.change-password-btn {
  background-color: #007bff;
  border-radius: 10px;
  padding: 12px;
  transition: 0.3s ease-in-out;
}

.change-password-btn:hover {
  background-color: #0056b3;
}

.change-password-input {
  border-radius: 10px;
  padding: 12px;
}

.update-pw-button {
  position: relative;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
  padding: 14px 25px;
  border-radius: 10px;
  font-size: 1.25em;
  cursor: pointer;
  border: none;
  margin-top: 10px;
}

.update-pw-button span {
  position: relative;
  z-index: 1;
}

.update-pw-button::before {
  content: "";
  position: absolute;
  inset: 3px;
  background: #272727;
  border-radius: 9px;
  transition: 0.5s;
}

.update-pw-button:hover::before {
  opacity: 0.7;
}

.update-pw-button::after {
  content: "";
  position: absolute;
  inset: 0px;
  background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
  border-radius: 9px;
  transition: 0.5s;
  opacity: 0;
  filter: blur(20px);
}

.update-pw-button:hover::after {
  opacity: 1;
}
