.chat-page {
  body {
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 2rem;
    color: #003366;
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
  }

  #conversation-header {
    .chat-header-toggle {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button.toggle-details {
        position: absolute;
        top: 143px;
        right: 55px;
        z-index: 10;

        color: #3897f0;
        font-size: 1.2rem;
        cursor: pointer;
        transition: color 0.3s;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding: 0;
        background: none;
        box-shadow: none;
        outline: none;
        &:hover {
          color: #0056b3;
        }

        i {
          pointer-events: none;
        }
      }
    }

    .chat-details {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
      opacity: 0;
      text-align: center;

      &.open {
        max-height: 200px;
        opacity: 1;
      }
    }
  }

  // Messages Section
  #messages {
    max-height: 60vh;
    overflow-y: auto;
    padding: 20px;
    background-color: #f0f0f5;
    border: none;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-image: url('/assets/chat-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .message-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 12px;
    }

    .message {
      display: flex;
      flex-direction: column;
      max-width: 80%;
      min-width: 100px;
      min-height: auto;
      padding: 8px 12px;
      border-radius: 20px;
      font-size: 1rem;
      position: relative;
      word-wrap: break-word;
      line-height: 1.5;
      margin: 5px 0;
      margin-bottom: 30px;
    }

    .sent {
      background-color: #007aff;
      color: white;
      align-self: flex-end;
      border-bottom-right-radius: 10px;
    }

    .sent p {
      color: white;
    }


    .sent::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: -5px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 0 0 10px;
      border-color: transparent transparent transparent #007aff;
    }

    /* Received message color */
    .received {
      background-color: #e5e5ea;
      color: black;
      align-self: flex-start;
      border-bottom-left-radius: 10px;
    }

    .received::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: -5px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0 0;
      border-color: transparent #e5e5ea transparent transparent;
    }

    .message-content {
      display: block;
      width: 100%;
      text-align: left;
      word-wrap: break-word;
      white-space: pre-wrap;

      p {
        text-align: left;
        line-height: 1.5;
        margin-top: -38px;
        margin-bottom: -50px;
        margin-left: 5px;
      }

      br {
        display: block;
        margin-bottom: 10px;
      }
    }

    .timestamp {
      font-size: 0.75rem;
      color: #070707;
      white-space: nowrap;
      position: absolute;
      right: 3px;
      top: 112%;
      transform: translateY(-50%); /* Centers it vertically */
    }

    .sender-profile-pic {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }

    .message-header {
      display: flex;
      align-items: center;
      margin-top: 4px;
    }
  }

  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
    width: 90%;

    textarea {
      flex: 1;
      border: 1px solid #dbdbdb;
      border-radius: 20px;
      padding: 10px 15px;
      resize: none;
      font-size: 0.9rem;
      margin-right: 10px;
      box-shadow: 0 2px 4px rgba(45, 44, 44, 0.1);
      margin-bottom: 150px;

      &:focus {
        outline: none;
        border-color: #3897f0;
        box-shadow: 0 4px 8px rgba(56, 151, 240, 0.3);
      }
    }

    .btn-send {
      background-color: #007aff;
      color: #fff;
      border: none;
      border-radius: 100px;
      padding: 20px 25px;
      font-size: 0.9rem;
      cursor: pointer;
      transition: background-color 0.3s, box-shadow 0.3s;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      margin-bottom: 250px;

      &:hover {
        background-color: #0062cc;
        box-shadow: 0 8px 16px rgba(0, 96, 204, 0.3);
      }

      .icon-large {
        font-size: 1.3rem;
      }
    }

    .btn-send.disabled {
      background-color: #ccc;
      color: #888;
      cursor: not-allowed;
      box-shadow: none;
    }
  }


  #messages {
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: #f9f9f9;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #dbdbdb;
      border-radius: 4px;

      &:hover {
        background-color: #c1c1c1;
      }
    }
  }
}

.chat-back-btn {
  position: relative;
  display: inline-block;
  padding: 12px 27px;
  border-radius: 14px;
  overflow: hidden;
  z-index: 1;
  border: 1px solid rgb(221, 218, 218);
  background: white;
  font-weight: bold;
  font-size: 16px;
  color: #1993e4;
  transition: all 1.2s linear;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  margin-left: 20px;
  margin-top: 20px;
}

.chat-back-btn::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, #1993e4, #1993e456);
  border-radius: 30%;
  height: 96px;
  width: 96px;
  animation: spin infinite linear 1.8s;
  bottom: -38px;
  right: -112px;
  transition: all 1.2s linear;
  z-index: 0;
}

.chat-back-btn:hover {
  color: #fff;
  transition-duration: 1.2s;
}

.chat-back-btn:hover::after {
  right: -60px;
  bottom: -92px;
  width: 256px;
  height: 256px;
}

.chat-back-btn > .button-content {
  position: relative;
  z-index: 2;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.custom-send-btn {
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  cursor: pointer;
  margin-top: -150px;
}

.custom-send-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #5bd9ec 0%,#97c3ff 100%);
}

.custom-send-btn:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.custom-send-btn span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

.custom-send-btn:hover span {
  scale: 0;
  font-size: 0%;
  opacity: 0;
  transition: all 0.5s;
}

.custom-send-btn svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

.custom-send-btn .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s;
}

.custom-send-btn:hover .svg-wrapper {
  background-color: rgba(43, 169, 228, 0.897);
  width: 54px;
  height: 54px;
}

.custom-send-btn:hover svg {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  transform: rotate(45deg);
}

@media (max-width: 768px) {
  .chat-page {
    padding: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  #messages {
    width: 100%;
    max-height: 50vh;
  }

  .message {
    max-width: 100%;
    padding: 10px;
  }

  form {
    width: 100%;
    flex-direction: row;
    margin: 10px 0;
    align-items: center;
    justify-content: space-between;
  }

  textarea {
    flex: 1;
    margin-bottom: 10px;
    font-size: 0.8rem;
    padding: 8px 12px;
  }

  .btn-send {
    width: auto;
    padding: 10px;
    font-size: 1rem;
  }

  .custom-send-btn {
    width: auto;
    font-size: 16px;
    padding: 0.8em 1.2em;
  }

  .chat-header-toggle button.toggle-details {
    top: 140px !important;
    right: 10px !important;
  }
}

@media (max-width: 480px) {
  .chat-page {
    padding: 5px;
  }

  h1 {
    font-size: 1.25rem;
  }

  .message {
    padding: 8px;
    font-size: 0.9rem;
  }

  textarea {
    font-size: 0.75rem;
    padding: 6px 10px;
  }

  .custom-send-btn {
    font-size: 14px;
    padding: 0.8em 1.2em;
  }

  .chat-header-toggle button.toggle-details {
    top: 140px !important;
    right: 10px !important;
  }
}
