body {
  min-height: 100vh; // Ensures the body always fills the viewport height
  background: linear-gradient(to bottom, #4b9ef6, #72b0f3);
  background-attachment: fixed; // Makes the gradient consistent
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.home-page {
  text-align: center;
  color: white;

  h1 {
    margin-bottom: 20px;
    margin-top:20px;
  }

  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #map {
    margin-top: 30px;
    border: 2px solid white;
    height: 500px;
    width: 70%;
  }
}

.button-container .btn {
  background-color: #FFFFFF; // White background
  color: #0056b3; // Blue text
  padding: 10px 20px;
  border: 2px solid #0056b3; // Blue border
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #0056b3; // Blue hover
    color: #FFFFFF; // White text on hover
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(0, 86, 179, 0.8); // Blue glow
  }
}

// Language selector positioning
.language-selector {
  position: fixed;
  bottom: 8px;  // 20px from the bottom
  right: 20px;   // 20px from the right
  z-index: 1000; // Make sure it appears on top of other content

  .form-select {
    padding: 8px 12px;  // Adjust padding for better size control
    font-size: 1rem;  // Ensure the font size is readable
    min-width: 80px; // Ensure the select box has a minimum width
    appearance: none; // Remove default styling of the select box arrow
    -webkit-appearance: none; // For Safari
    -moz-appearance: none; // For Firefox
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  /* Custom arrow styling */
  .form-select::-ms-expand {
    display: none;  // For Internet Explorer to remove default arrow
  }
}
