body {
  min-height: 100vh;
  background: linear-gradient(135deg, #e3f2fd, #90caf9);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 10px;
}

.home-page {
  text-align: center;
  color: white;

  h1 {
    margin-bottom: 50px;
    margin-top: 40px;
  }

  h2 {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 1.5rem;
    display: block;
    width: 100%;
  }

  #map {
    margin-top: 30px;
    margin-bottom: 60px;
    border: 2px solid white;
    height: 300px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.home-page .btn-shine-create-list {
  position: relative;
  margin: 0;
  padding: 17px 35px;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid rgba(22, 76, 167, 0.6);
  border-radius: 10px;
  color: #1d89ff;
  font-weight: 700;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.home-page .btn-shine-create-list span {
  color: #164ca7;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.home-page .btn-shine-create-list:hover {
  animation: rotate624 0.7s ease-in-out both;
}

.home-page .btn-shine-create-list:hover span {
  animation: storm1261 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

#supermarket-list-items {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.btn-shine-create-list:after {
  background: #38ef7d;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-shine-create-list:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.language-selector {
  position: fixed;
  bottom: 8px;
  right: 20px;
  z-index: 1000;

  .form-select {
    padding: 8px 12px;
    font-size: 1rem;
    min-width: 80px;
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-select::-ms-expand {
    display: none;
  }
}

#supermarket-list {
  max-width: 700px;
  margin: 20px auto 10px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  margin-bottom: 150px;
}

#supermarket-list h2 {
  background-color: #005893;
  color: white;
  padding: 15px;
  font-size: 18px;
  border-radius: 12px 12px 0 0;
  margin: 0;
}

@media (max-width: 767px) {
  #supermarket-list {
    max-width: 100%;
    margin: 20px 10px;
    margin-bottom: 150px;
  }

  #map {
    height: 300px;
    width: 100%;
  }

  .home-page .btn-shine-create-list {
    width: auto;
    padding: 12px 25px;
    margin: 0 20px;
  }
}

@media (min-width: 768px) {
  #map {
    height: 400px;
    width: 80%;
  }

  .home-page .btn-shine-create-list {
    width: auto;
    padding: 17px 35px;
  }

  #supermarket-list {
    max-width: 600px;
    margin-bottom: 150px;
  }
}

@media (min-width: 1200px) {
  #map {
    height: 600px;
    width: 50%;
  }

  #supermarket-list {
    max-width: 800px;
    margin-bottom: 150px;
  }
}
