$primary-color: #003366;
$secondary-color: #f4f4f4;
$text-color: #333;
$input-border: #ccc;
$input-focus-border: #003366;
$border-radius: 8px;
$box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
$background-color: linear-gradient(135deg, #e3f2fd, #90caf9);

.settings-page {
  background-color: $background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;


  .settings-container {
    background-color: $secondary-color;
    padding: 2rem;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    width: 100%;
    max-width: 500px;
    margin-top: 50px;
    margin-bottom: 150px;
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;



    h1 {
      color: $primary-color;
      font-size: 3rem;
      text-align: center;
      margin-bottom: 1.5rem;
    }

    #error_explanation {
      background-color: #ffefef;
      border: 1px solid #f5c6cb;
      padding: 1rem;
      border-radius: $border-radius;
      margin-bottom: 1.5rem;
      ul {
        margin: 0;
        padding-left: 1.5rem;
        li {
          color: #c00;
          font-size: 1rem;
        }
      }
    }

    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;

      label {
        font-weight: bold;
        color: $text-color;
        margin-bottom: 0.5rem;
      }

      .form-control {
        width: 100%;
        padding: 0.75rem;
        border: 1px solid $input-border;
        border-radius: $border-radius;
        font-size: 1rem;
        color: $text-color;
        transition: border-color 0.3s, box-shadow 0.3s;

        &:focus {
          border-color: $input-focus-border;
          box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
          outline: none;
        }
      }

      small {
        font-size: 0.875rem;
        color: $input-border;
        margin-top: 0.25rem;
      }
    }

    .language-options {
      display: flex;
      gap: 0.5rem;
      margin-bottom: 1.5rem;

      .language-link {
        flex: 1;
        text-align: center;
        padding: 0.5rem 1rem;
        border-radius: $border-radius;
        background-color: $primary-color;
        color: #fff;
        text-decoration: none;
        font-size: 1rem;

        &:hover {
          background-color: darken($primary-color, 10%);
          text-decoration: none;
        }
      }
    }

    .btn-primary {
      background-color: $primary-color;
      color: #fff;
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      border: none;
      border-radius: $border-radius;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }
  }

  .settings-back-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .settings-back-btn {
    text-align: center;
  }
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
  z-index: 1;
  margin: 0 auto;
}

.switch input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: 2;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 30px;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.6em;
  width: 1.6em;
  border-radius: 20px;
  left: 0.2em;
  bottom: 0.2em;
  background-color: white;
  transition: 0.4s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.switch input:checked + .slider {
  background-color: #003366;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #003366;
}

.switch input:checked + .slider:before {
  transform: translateX(2em);
  background-color: #f1f4f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.slider:after {
  content: "OFF";
  color: white;
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8em;
  transition: opacity 0.4s;
  opacity: 1;
}

.switch input:checked + .slider:after {
  content: "ON";
  left: 0.5em;
  opacity: 1;
  right: auto;
}

.settings-back-button {
  position: relative;
  display: inline-block;
  padding: 16px 32px;
  border-radius: 14px;
  overflow: hidden;
  z-index: 1;
  border: 1px solid rgb(221, 218, 218);
  background: white;
  font-weight: bold;
  font-size: 16px;
  color: #1993e4;
  transition: all 1.2s linear;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  align-items: center;
  width: fit-content;
}

.settings-back-button::after {
  content: "";
  position: absolute;
  background: linear-gradient(to right, #1993e4, #1993e456);
  border-radius: 30%;
  height: 96px;
  width: 96px;
  animation: spin infinite linear 1.8s;
  animation-delay: 0;
  bottom: -38px;
  right: -112px;
  transition: all 1.2s linear;
  z-index: 0;
}

.settings-back-button:hover {
  color: #fff;
  transition-duration: 1.2s;
}

.settings-back-button:hover::after {
  right: -60px;
  bottom: -92px;
  width: 256px;
  height: 256px;
}

.settings-back-button > .settings-back-button-content {
  position: relative;
  z-index: 2;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.settings-container {
  overflow: hidden;
}


@media (max-width: 768px) {
  .settings-page {
    padding: 1rem 0;

    .settings-container {
      width: 95%;
      padding: 1rem;

      h1 {
        font-size: 3rem;
      }

      .form-group {
        .form-control {
          font-size: 0.9rem;
        }
      }

      .btn-primary {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
      }

      .language-link {
        font-size: 0.9rem;
      }
    }
  }
}
