<div class="message <%= message.sender == current_user ? 'current-user' : 'other-user' %>">
  <p class="message-content">
    <%= message.content %>
  </p>
  <p class="message-timestamp">
    <small><%= time_ago_in_words(message.created_at) %> ago</small>
  </p>
</div>
  