<div class="contact-page">
  <div class="contact-container">
    <h1>Contact Us</h1>
    <p>For more information, please contact us at
      <a href="mailto:shoplisty.help@gmail.com">shoplisty.help@gmail.com</a>
    </p>
    <a href="javascript:history.back()" class="contact-back-button">Go Back</a>
  </div>
</div>
