<!-- app/views/pages/home.html.erb -->
<% if user_signed_in? %>
  <h1>Welcome back, <%= current_user.name %>!</h1>
  <%= link_to 'Create a new list', new_user_list_path(current_user) %>
<% else %>
  <!-- This content might not be seen because of the redirect -->
  <h1>Please log in or sign up to continue</h1>
<% end %>
