<% if user_signed_in? %>
  <div class="home-page">
    <h1>Welcome back, <%= current_user.name %>!</h1>
    <div class="button-container">
      <%= link_to new_user_list_path(current_user), class: "btn" do %>
        <strong>CREATE A NEW LIST</strong>
      <% end %>
    </div>

    <!-- Map container -->
    <h2> Check on the map the closest supermarkets near you!
    <div id="map"></div>
  </div>
<% else %>
  <h1>Please log in or sign up to continue</h1>
<% end %>
