<h1>Groceries List</h1>

<% @categories.each do |category| %>
  <h2><%= category.name %></h2>
  <ul>
    <% category.products.each do |product| %>
      <li><%= product.name %></li>
    <% end %>
  </ul>
<% end %>
